website/App_Data/TEMP/
website/App_Data/Logs/

node_modules
packages

*.min.js
*.min.css

Web.config

*.suo
*.user
*.orig
*.sublime-workspace
.sass-cache/

.DS_Store
._.DS_Store

.vs/

[Bb]in/
[Oo]bj/