@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="home">
	<div class="home__title">
		@Umbraco.Field("Title")
	</div>

	<div class="home__youtube">

	</div>

	<div class="home__content">
		@Umbraco.Field("Content")
	</div>
</div>