<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>

]>
<root id="-1">
  <home id="1048" key="faca49ad-69c1-4b77-bc60-414f6e37e0be" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-09T17:31:21" updateDate="2016-08-10T15:06:26" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="Nicolai Normann" writerName="Martin Due" writerID="1" template="1046" nodeTypeAlias="home">
    <title><![CDATA[Moongate]]></title>
    <content><![CDATA[<p><em>This is it</em>! We've been working on our new game for a couple of months and now it's time to share some <br />details about what we've been working on, with the rest of the world.</p>
<p> </p>
<p>Moongate is a sort-of-open-world puzzle game about a strange little guy with a very big hat.​<br />It's so big that it actually hides his face, but we can tell you that he's just arrived in a whole new<br />particularly crafted world and he's very curious to know what's going on.</p>
<p>As you might have noticed the video doesn't say anything about a release date,<br />but it's probably some time in 2017, and will be released on the Windows platform, hopefully with an <br />iOS release to follow.</p>
<p> </p>
<p><strong>Who are we?</strong><br />We are Duel Studios, a small new video game studio set in Aarhus, Denmark. The weather almost always <br />sucks here, so expect us to be working very hard. Our public face right now is pretty much this <br />webpage, but that will change soon.</p>
<p><strong>More information?</strong><br />We are planning to frequently update this webpage with different posts about how the game is coming <br />along, screenshots, videos, GIF's, and all the other developer-nerdy stuff that comes with it.</p>
<p>Stay tuned for more...!</p>
<p> </p>]]></content>
    <youtubeLink><![CDATA[https://www.youtube.com/embed/UHcfE5FcSjc]]></youtubeLink>
  </home>
</root>