<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>

]>
<root id="-1">
  <home id="1048" key="faca49ad-69c1-4b77-bc60-414f6e37e0be" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-09T17:31:21" updateDate="2016-08-09T17:37:23" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="Nicolai Normann" writerName="Nicolai Normann" writerID="0" template="1046" nodeTypeAlias="home">
    <title><![CDATA[Moongate]]></title>
    <content><![CDATA[<p>Dette er website for Moongate THE GAME</p>
<p> </p>
<p>WOOWOWOW EPIC</p>]]></content>
    <youtubeLink><![CDATA[https://www.youtube.com/embed/QpDn4-Na5co]]></youtubeLink>
  </home>
</root>