@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
    <head>
        <title>Moongate</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="/css/main.min.css">
    </head>

    <body>
		@RenderBody()

		<script src="/scripts/main.min.js"></script>
    </body>
</html>